body{
    background: url(background/bg11.jpg);
    background-size: cover;
    background-attachment: fixed;
}
form{
    box-shadow: 10px 10px 10px rgb(210, 210, 210);
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    width: 25rem;
}
img{
    width: 4rem;
}
button{
    background: linear-gradient(
        120deg,#2D033B,#810CA8
    );
}